<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwt.managemail.mapper.BankMapper">
  <select id="transaction" parameterType="com.wwt.managemail.entity.Bank">
    update bank
    <set>
      <if test="cashAmount != null">
        `cash_amount` = cash_amount +  #{cashAmount,jdbcType=VARCHAR},
      </if>
      <if test="investmentAmount != null">
        `investment_amount` = investment_amount + #{investmentAmount,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}

  </select>


</mapper>