<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwt.managemail.mapper.BankMyProductMapper">
    <update id="transaction" parameterType="com.wwt.managemail.entity.BankMyProduct">
        update bank_my_product
        <set>
            <if test="totalEffectiveInterestIncome != null">
                `total_effective_interest_income` = total_effective_interest_income +
                #{totalEffectiveInterestIncome,jdbcType=VARCHAR},
            </if>
            <if test="profitDate != null">
                `profit_date` = #{profitDate,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                `state` = #{state,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}

    </update>

    <select id="selectByBankMyProductQueryVO" parameterType="com.wwt.managemail.vo.BankMyProductQueryVO"
            resultType="com.wwt.managemail.entity.BankMyProduct">
        select bank_my_product.* from bank_my_product inner join bank on bank.id = bank_my_product.bank_card_id
        where 1 = 1
        <if test="bankName != null and bankName != ''">
            and bank.bank_name = #{bankName,jdbcType=VARCHAR}
        </if>
        <if test="userName != null and userName != ''">
            and bank.name = #{userName,jdbcType=VARCHAR}
        </if>
        <if test="state != null">
            and bank_my_product.state = #{state,jdbcType=VARCHAR}
        </if>
        <if test="expireProductTime != null">
            and bank_my_product.due_time &lt;= #{expireProductTime,jdbcType=DATE}
        </if>
        <if test="expireInterestTime != null">
            and bank_my_product.profit_date &lt;= #{expireInterestTime,jdbcType=DATE}
        </if>

        order by id desc ;
    </select>

</mapper>